{{ $lazy := site.Params.enableImageLazyLoading | default true }}
{{ $altText := (site.Language.Params.Author.name | default "Author") }}
<section class="not-prose mb-3 flex flex-col items-center">
  {{ with site.Language.Params.Author.image }}
    {{ with resources.Get . }}
      <img
        class="mb-2 h-auto w-36 rounded-full"
        src="{{ .RelPermalink }}"
        alt="{{ $altText }}"
        width="{{ .Width }}"
        height="{{ .Height }}"
        {{ if $lazy }}loading="lazy"{{ end }}>
    {{ end }}
  {{ end }}
  <h1 class="text-4xl font-extrabold">
    {{ site.Language.Params.Author.name | default site.Title }}
  </h1>
  {{ with site.Language.Params.Author.headline }}
    <h2 class="text-xl text-neutral-500 dark:text-neutral-400">
      {{ . | markdownify | emojify }}
    </h2>
  {{ end }}
  <div class="mt-1 text-2xl">
    {{ partialCached "author-links.html" . }}
  </div>
</section>